//import de variables
@import "../utilities/variables";

  /* pagina principal */
@media screen and (min-width:1024px){
    main {
        .bienvenida{
            padding-left: 60px;
            padding-right: 60px;
            text-align:center;
            font-size: 20px;
        }
        .desk{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .disclosure{
            font-size: 16px;
        }
    }
}
@media screen and (max-width: 600px){
    main{
        .bienvenida{
            padding-left: 20px;
            padding-right: 20px;
            text-align:center;
            font-size: 16px;
        }
        .disclosure{
            font-size: 12px;
        }
        .desk{
            margin-top: 20px;
            margin-bottom: 20px;
            img {max-width:90%;}
        }
    }
}
@media screen and (min-width: 600px){
    main{
        .disclosure{
        font-size: 16px;
        }
        .desk{
        margin-top: 20px;
        margin-bottom: 20px;
        img {max-width:80%;}
        }
        .bienvenida{
            padding-left: 20px;
            padding-right: 20px;
            text-align:center;
            font-size: 20px;
        }
    }
}