//import de variables
@import "../utilities/variables";

/* producto */
@media screen and (min-width:1024px){
    main{
        .sentry{
            display: flex;
            font-size: 20px;
            margin-right: 20px;
            margin-left: 20px;
        }
        .turret{
            margin-left: 100px;
            margin-right: 100px;
        } 
        .torretifera{
            width: 50%;
        }
        button{
            background-color: $color-secundario;
            display: inline-block;
            padding: 10px;
            margin-top: 20px;
            border: 2px;
            font-weight: bolder;
            cursor: pointer;
        } 
        button:hover {
            transition: 1s;
            box-shadow: 5px 5px 0px black;
        }  
        iframe{
            width: 90%;
            margin: 20px;
            display: flex;
            padding-left: 90px;
        }
    }
}
@media screen and (min-width: 601px) and ( max-width: 1024px){
    main{
            .sentry{
                display: flex;
                font-size: 16px;
                margin-right: 10px;
                margin-left: 10px;
            }
            .turret{
                display: flex;
                margin-left: 100px;
                margin-right: 100px;
            } 
            .torretifera{
                display: flex;
                width: 25%;
                height: 35%;
            }
            h2{
                font-size: 20px;
            }
            button{
                background-color: $color-secundario;
                display: inline-block;
                padding: 10px;
                margin-top: 20px;
                border: 2px;
                font-weight: bolder;
                cursor: pointer;
            } 
            button:hover {
                transition: 1s;
                box-shadow: 5px 5px 0px black;
            }  
            iframe{
                width: 90%;
                height: 32%;
                margin: 20px;
            }
    }
}
@media screen and (max-width: 600px){
    main{
        .sentry{
            font-size: 16px;
            margin-right: 20px;
            margin-left: 20px;    
        }
        h2{
            font-size: 20px;
        }
        .turret{
            margin-left: 10px;
            margin-right: 10px;
        } 
        .torretifera{
            width: 20%;
            height: 30%;
        }
        button{
            background-color: $color-secundario;
            display: inline-block;
            padding: 10px;
            margin-top: 20px;
            border: 2px;
            font-weight: bolder;
            cursor: pointer;
        } 
        button:hover {
            transition: 1s;
            box-shadow: 5px 5px 0px black;
        }  
        iframe{
            display:grid;
            width: 90%;
            height: 90%;
            margin: 20px;
        }
    }
}