//import de variables
@import "../utilities/variables";

/* instalaciones */
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50%);
    row-gap: 10px; 
    align-content: center;
        img{
        height: 200%;
        width:100%;
        object-fit:fill;
        }
        .img-office-hall{
        display: none;
        }
}
    @media screen and (min-width:1024px){
        .container{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 50% 50%;
            .img-office-hall{
            display: block;
            }
        }
    }
    @media screen and (min-width: 600px){
        main{
            .workplace{
            padding-left: 20px;
            padding-right: 20px;
            text-align:center;
            font-size: 20px;
            }
        }
    }
    @media screen and (max-width: 600px){
        main{ 
            .workplace{
            padding-left: 20px;
            padding-right: 20px;
            text-align:center;
            font-size: 16px;
            }
        }
    }