//import de variables
@import "../utilities/variables";
//imort de mixin
@import "../utilities/mixin";

/* footer */
footer{
    text-align: center;
    background-color: $color-secundario;
    font-weight:bold;
    font-size: larger;
    @include border-bottom;
}
@media screen and (max-width: 600px){
    footer{
        margin-top: 80px;
        font-size: 18px;
        text-align: center;
        background-color: #ff9a00;
        font-weight: bold;
        @include border-bottom;
    }
}